@charset "UTF-8";

.ui-datepicker ,
.react-datepicker {font-family: 'Montserrat' !important; padding: 0 3.733vw 3.200vw;}
.ui-widget.ui-widget-content{width: calc(100% - (5.333vw * 2) ); left: 5.333vw !important; box-sizing: border-box;}
.ui-widget.ui-widget-content,
.react-datepicker  {border: 0; -webkit-box-shadow: 0 0 2.600vw rgb(0 0 0 / 20%); box-shadow: 0 0 2.600vw rgb(0 0 0 / 20%);}
.ui-datepicker table {table-layout: fixed; font-size: 3.733vw; margin: 0;}
.react-datepicker__header > div:not(.react-datepicker__day-names),
.ui-datepicker .ui-datepicker-header {position: relative; height: 15.573vw; line-height: 15.573vw; padding: 0; margin-bottom: 1.333vw; text-align: left;}
.react-datepicker__header > div:not(.react-datepicker__day-names):before,
.ui-datepicker .ui-datepicker-header::before {content: ''; display: inline-block; position: absolute; bottom: 0; left: -3.733vw; width: calc( 100% + (3.733vw * 2)); height: 0.267vw; background-color: #f0f0f0;}
.ui-widget-header,
.react-datepicker__header,
.react-datepicker__header select {background-color: #fff; border: 0; letter-spacing: -0.133vw; color: #1c1c1c;}
.ui-datepicker .ui-datepicker-title {line-height: inherit; margin: 0; font-size: 0; text-align: left; padding-left: 2.133vw;}
.react-datepicker__header > div:not(.react-datepicker__day-names)::after,
.ui-datepicker .ui-datepicker-title::before {content: ''; display: inline-block; position: absolute; top: 50%; left: calc(17% + -3.733vw + 5.333vw + 3.600vw); width: 2.400vw; height: 2.400vw; background: url('../images/@uio/calender_dropdown.svg') no-repeat 0 0; background-size: cover; transform: translateY(-50%); margin-top: -0.533vw;}
.ui-datepicker .ui-datepicker-title,
.react-datepicker__header,
.react-datepicker__header select {font-weight: 700; font-size: 4.267vw; }
.ui-datepicker th,
.react-datepicker__day-name {font-size: 3.733vw; color: #a4a4a4 !important; padding-left: 2.667vw; padding-right: 2.667vw; font-weight: 400;}
.ui-datepicker td {width: 11.733vw; height:9.600vw; font-weight: 600;padding: 0; box-sizing: border-box;}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight, 
.ui-widget-header .ui-state-highlight ,
.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default, 
.ui-button,
html .ui-button.ui-state-disabled:hover, 
html .ui-button.ui-state-disabled:active,
.react-datepicker__day {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 9.600vw !important; height: 100% !important; border: 0; background-color: #fff; line-height: normal; font-weight: inherit; font-size: 3.733vw !important; letter-spacing: -0.075vw !important; color: #262626; padding: 0 !important;}
.react-datepicker__header select,
.ui-datepicker-year {display: inline-block; width: auto !important; text-align: right; background-color: #fff; color: #000;  text-align-last: right;
   text-align: right; -ms-text-align-last: right; -moz-text-align-last: right; border: 0; padding: 0; margin: 0; display: flex; justify-content: flex-end; min-width: 5% !important;}
.ui-datepicker-year::after {content: '년'; display: inline-block; position: relative;}
.ui-datepicker-year,
.ui-datepicker-month,
.react-datepicker__header select,
.react-datepicker__header .date_month {display: inline-block;}
.react-datepicker__header .date_month,
.ui-datepicker-month {position: absolute; top: 0; right: -3.733vw; border-left: 0.267vw solid #f0f0f0; width: 68%; text-align: center; box-sizing: border-box;}
.ui-datepicker .ui-datepicker-title select {font-family: 'Montserrat' !important; font-weight: 700; font-size: 4.267vw; text-align: right; margin: 0;}

.ui-datepicker td span, .ui-datepicker td a {text-align: center; box-sizing: border-box;}

.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, 
.ui-button:active,
.ui-button.ui-state-active:hover {border-radius: 50%; background-color: #ff592e; color: #fff;}

.ui-widget-header .ui-icon,
.react-datepicker__header--custom > div > button {background-position: center;}
.ui-widget-header .ui-datepicker-prev .ui-icon,
.react-datepicker__header--custom > div > button:nth-of-type(1),
.react-datepicker__header .date_month> button:nth-of-type(1) {background-repeat: no-repeat!important; background-image: url('../images/@uio/calender_prev.svg') !important; background-position: center !important; background-size: 3.733vw 3.733vw !important;}
.ui-datepicker .ui-datepicker-prev,
.react-datepicker__header .date_month> button:nth-of-type(1) {left: 0; margin-left: 4.800vw !important;}
.react-datepicker__header--custom > div > button,
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next,
.react-datepicker__header .date_month> button {position: absolute; top: 50% !important; transform: translateY(-50%)!important; margin-left: 3.733vw!important; z-index: 2!important; padding: 0;}
.ui-datepicker .ui-datepicker-next {right: 0w;}
.ui-widget-header .ui-datepicker-next .ui-icon,
.react-datepicker__header--custom > div > button:nth-of-type(2) ,
.react-datepicker__header .date_month > button:nth-of-type(2) {right: 4.8vw; background-repeat: no-repeat!important; background-image: url('../images/@uio/calender_next.svg') !important; background-position: center !important;  background-size: 3.733vw 3.733vw !important; margin-left: 0 !important;}
.ui-datepicker .ui-datepicker-prev, 
.ui-datepicker .ui-datepicker-next ,
.react-datepicker__header .date_month> button {width: 8vw; height: 8vw;}
.ui-datepicker .ui-datepicker-prev span, 
.ui-datepicker .ui-datepicker-next span {left: 0; width: 100%; height: 100%; margin: 0; background-size: 6.667vw 6.667vw; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%);}
.ui-state-hover, 
.ui-widget-content .ui-state-hover, 
.ui-widget-header .ui-state-hover, 
.ui-state-focus, 
.ui-widget-content .ui-state-focus, 
.ui-widget-header .ui-state-focus, 
.ui-button:hover,
.ui-button:focus {background-color: #fff ;border: 0; color: inherit;}

/* react */
.react-datepicker {border: 0 !important; }
.react-datepicker-popper {padding-bottom: 0 !important;}
.react-datepicker-popper > div {font-size: 0;}
.react-datepicker__header {background-color: #fff !important; border: 0 !important; border-radius: 0 !important; padding: 0 !important;}
.react-datepicker__header select {font-family: 'Montserrat' !important;}
.react-datepicker__header .date_month {margin-left: 1.333vw;}
.react-datepicker__day, 
.react-datepicker__day-name, 
.react-datepicker__time-name {width: 10.133vw !important; height: 10.333vw; line-height: 10.333vw !important; box-sizing: border-box; margin: 0 !important;}
.react-datepicker__day-name,
.react-datepicker__day {font-size: 3.733vw;}
.react-datepicker__month {margin: 3.333vw 0 0 0 !important;}
.react-datepicker__day--in-range, 
.react-datepicker__day--in-selecting-range, 
.react-datepicker__day--selected, 
.react-datepicker__month-text--in-range, 
.react-datepicker__month-text--in-selecting-range, 
.react-datepicker__month-text--selected, 
.react-datepicker__quarter-text--in-range, 
.react-datepicker__quarter-text--in-selecting-range, 
.react-datepicker__quarter-text--selected, 
.react-datepicker__year-text--in-range, 
.react-datepicker__year-text--in-selecting-range, 
.react-datepicker__year-text--selected,
.react-datepicker__day--keyboard-selected, 
.react-datepicker__month-text--keyboard-selected, 
.react-datepicker__quarter-text--keyboard-selected, 
.react-datepicker__year-text--keyboard-selected {border-radius: 50% !important; background-color: #ff592e !important;}
.react-datepicker__header--custom > div > button{position:absolute;top: -0.533vw; font-size:0;line-height:0;background-size: cover;}
.react-datepicker__header--custom > div > button:nth-of-type(1) {left: 0;}
.react-datepicker__header--custom > div > button:nth-of-type(2) {right: 0;}
.react-datepicker__header--custom > div:not(.react-datepicker__day-names) {line-height: 15.573vw; margin-bottom: 0;}
.react-datepicker__header select {font-family: 'Montserrat' !important;}
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle:after,
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle:before, 
.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle:after, 
.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle:before {display: none;}

.react-datepicker-popper[data-placement^=bottom] {padding-top: 0 !important;}