@charset "UTF-8";

/* root font-size */
html{font-size: 16px;} /* 16px = 4.267vw; */

/* defult */
body {color:#000;font-weight:400;font-size: 4.267vw;line-height: 1.5;}
body, th, td, input, select, textarea, button, p{font-family: 'NanumSquare','돋움', Dotum, '굴림', Gulim, Verdana, Arial, sans-serif; line-height: 1.25;}
a, a:link, a:visited, a:active, a:hover{text-decoration:none;color:inherit; -webkit-tap-highlight-color : transparent;}


/* blind */
.blind  {visibility:hidden;overflow:hidden;position:absolute;top:-0.267vw;left:-0.267vw;width:0.267vw;height:0.267vw;font-size:0;line-height:0;z-index:-1;}

/* font */
.en ,
.num,
.date{font-family: "Montserrat";}

/* color */
.fc-orange {color: #ff592e;}
.fc-redorange {color: #ff4343;}

/* align */
.ta-c	{text-align:center !important;}
.ta-l	{text-align:left !important;}
.ta-r	{text-align:right !important;}


/* title */
.h1,
.h2,
.h3	{line-height: 1.35;font-weight: 700;}
.h1	{font-size: 7.467vw;} /* 28px = 7.467vw */
.h2	{font-size: 4.8vw} /* 18px = 4.8vw; */
.h3	{font-size: 4.8vw;} /* 18px = 4.8vw; */

/* badge */
.badge-wrap {display: -ms-flexbox; display: -webkit-flex; display: inline-flex;
    -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column;}
.badge {display: inline-block; font-weight: 600; color: #fff; text-align: center;}
.badge:not(.order-state):not(.inform) {font-family: 'Montserrat';}
/* badge shape */
.badge.square {height: 5.333vw; line-height: 5.333vw; padding: 0 2.133vw; font-size: 3.200vw;}
.badge.round {width: 10.133vw; height: 10.133vw; line-height: 10.133vw; border-radius: 50%; font-size: 2.667vw;}
/* badge category */
.badge.store {background-color: #3584c5;}
.badge.event {background-color: #fcb615;}
.badge.square.new {background-color: #fd582e;}
.badge.square.pick {background-color: #f06ea4;}
.badge.square.story {background-color: #1cac4d;}
.badge.round.new {background-color: #004a98;}
.badge.round.pick {background-color: #fc6c0f;}
.d-day {display: inline-block; width: 13.333vw; height: 13.333vw; line-height: 12.533vw; background-color: transparent; border: 0.4vw solid#fff; border-radius: 50%; font-weight: 600; font-size: 3.467vw; color: #fff; text-align: center; box-sizing: border-box;}
.badge.order-state {width: 17.333vw; height: 7.467vw; line-height: 7.467vw; border-radius: 0.533vw; font-weight: 700; font-size: 3.733vw;}
.badge.order-state.receipt,
.badge.order-state.making {background-color: #fd592e;}
.badge.order-state.complete {background-color: #262626;}
.badge.order-state.cancel {background-color: #959595;}
.badge-wrap .badge + .d-day {margin-top: 2.800vw; margin-left: 0.800vw;}
.badge.inform {display: -ms-flexbox; display: -webkit-flex; display: inline-flex; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center;-webkit-align-items: center; -ms-flex-align: center; align-items: center; width: 5.867vw; height: 5.867vw; line-height: inherit; background-color: #ff592e; font-weight: 700; font-size: 3.200vw;}
.badge.coffee-bean {background-color: #fff; background-repeat: no-repeat; background-position: center center; background-size: 3.733vw 4.267vw;}
.badge.coffee-bean.dark {background-image: url('../images/com/coffeebean_dark.svg');}
.badge.coffee-bean.mild {background-image: url('../images/com/coffeebean_mild.svg');}

/* ico */
.ico{display: inline-block; background-repeat: no-repeat; background-position:50% 50%; background-size: 100% 100%;}
.ico > span {visibility:hidden;overflow:hidden;position:absolute;top:-0.267vw;left:-0.267vw;width:0.267vw;height:0.267vw;font-size:0;line-height:0;z-index:-1;}
.ico.new {width: 4.800vw; height: 4.800vw; line-height: 4.800vw; background-color: #ff592e; border-radius: 50%; font-family: 'Montserrat'; font-weight: 500; font-size: 2.667vw; text-align: center; color: #fff;}
.ico.close {width: 100%; height: 100%; background-image: url('../images/com/icon_close.svg');}
.ico.search {width: 8vw; height: 8vw; background-image: url('../images/com/icon_search.svg');}
.ico.search-t {width: 8vw; height: 8vw; background-image: url('../images/com/icon_search-thin.svg');}
.ico.search-s {width: 8vw; height: 8vw; background-image: url('../images/com/icon_search_small.svg');}
.ico.share {width: 8vw; height: 8vw; background-image: url('../images/com/icon_share.svg');}
.ico.heart {width: 6.333vw; height: 6.333vw; background-image: url('../images/com/icon_heart-line.svg');}
.ico.google {width: 5.333vw; height: 5.067vw; background-image: url('../images/sns/ico_google.svg');}
.ico.facebook {width: 5.333vw; height: 5.067vw; background-image: url('../images/sns/ico_facebook.svg');}
.ico.kakao {width: 4.827vw; height: 4.667vw; background-image: url('../images/sns/ico_kakao.svg');}
.ico.apple {width: 4.267vw; height: 5.2vw; background-image: url('../images/sns/ico_apple.svg');}
.ico.decrease {width: 2.4vw; height: 0.533vw; background-image: url('../images/@uio/uio_decrease.svg');}
.ico.increase {width: 2.4vw; height: 2.4vw; background-image: url('../images/@uio/uio_increase.svg');}
.ico.accordion-arr {width: 2.320vw; height: 2.320vw; background-image: url('../images/@uio/accordion_arr.svg');}
.ico.wifi {background-image: url('../images/com/icon_wifi.svg');}
.ico.parking {background-image: url('../images/com/icon_parking.svg');}
.ico.smoking {background-image: url('../images/com/icon_smoking.svg');}
.ico.kiosk {background-image: url('../images/com/icon_kiosk.svg');}
.ico.drive {background-image: url('../images/com/icon_drive.svg');}
.ico.back {width: 8vw; height: 8vw; background-image: url('../images/com/icon_back.svg');}
.ico.arr-r {width:4.8vw; height: 4.533vw; background-image: url('../images/com/icon_arr-r.svg');}
.ico.arr-top {width: 4.8vw; height: 4.8vw; background-image: url('../images/com/icon_top.svg');}
.ico.barcode {width: 7.733vw; height: 8vw; background-image: url('../images/com/icon_barcode.svg');}
.ico.barcode-scan {width: 10.667vw; height: 10.667vw; background-image: url('../images/com/icon_barcode-scan.svg');}
.ico.barcode-w {width: 7.467vw; height: 8vw; background-image: url('../images/com/icon_barcode-w.svg');}
.ico.pay-c {width: 10.133vw; height: 10.133vw; background-image: url('../images/com/icon_pay-c.svg');}
.ico.stamp {width: 8vw; height: 8vw; background-image: url('../images/com/icon_stamp.svg');}
.ico.stamp-m {width: 7.467vw; height: 7.467vw; background-image: url('../images/com/icon_stamp-m.svg');}
.ico.stamp-c {width: 10.133vw; height: 10.133vw; background-image: url('../images/com/icon_stamp-c.svg');}
.ico.stamp-s {width: 5.333vw; height: 5.333vw; background-image: url('../images/com/icon_stamp-small.svg');}
.ico.calendar {width: 7.467vw; height: 7.467vw; background-image: url('../images/com/icon_calendar.svg');}
.ico.calendar-c {width: 10.133vw; height: 10.133vw; background-image: url('../images/com/icon_calendar-c.svg');}
.ico.coupon-c {width: 10.133vw; height: 10.133vw; background-image: url('../images/com/icon_coupon-c.svg');}
.ico.coupon {width: 7.467vw; height: 7.467vw; background-image: url('../images/com/icon_coupon.svg');}
.ico.alert {width: 3.733vw; height: 3.733vw; background-image: url('../images/com/icon_alert.svg');}
.ico.alert-c {width: 3.200vw; height: 3.200vw; background-image: url('../images/com/icon_alert-c.svg');}
.ico.alert-w {width: 3.200vw; height: 3.200vw; background-image: url('../images/com/icon_alert-w.svg');}
.ico.external{width: 4.533vw; height: 4.533vw; background-image: url('../images/com/icon_external.svg');}
.ico.external-large{width: 6.4vw; height: 6.4vw; background-image: url('../images/com/icon_external_large.png');}
.ico.gift {width: 8vw; height: 8vw; background-image: url('../images/com/icon_gift.svg');}
.ico.giftcard {width: 8vw; height: 8vw; background-image: url('../images/com/icon_giftcard.svg');}
.ico.cart {width: 8vw; height: 8vw; background-image: url('../images/com/icon_cart.svg');}
.ico.time {width: 4vw; height: 4vw; background-image: url('../images/com/icon_time.svg');}
.ico.pin {width: 4vw; height: 5.067vw; background-image: url('../images/com/icon_pin.svg');}
.ico.tel {width: 3.733vw; height: 3.733vw; background-image: url('../images/com/icon_tel.svg');}
.ico.tel-g {width: 6.4vw; height: 6.4vw; background-image: url('../images/com/icon_tel-g.svg');}
.ico.mail-g {width: 6.4vw; height: 6.4vw; background-image: url('../images/com/icon_mail-g.svg');}
.ico.copy {width: 3.733vw; height: 4.267vw; background-image: url('../images/com/icon_copy.svg');}
.ico.trash {width: 8vw; height: 8vw; background-image: url('../images/com/icon_trash.svg');}
.ico.money {width: 4.800vw; height: 4.800vw; background-image: url('../images/com/icon_money.svg');}
.ico.recipt {width: 6.4vw; height: 6.4vw; background-image: url('../images/com/icon_recipt.svg');}
.ico.recipt-b {width: 8vw; height: 8vw; background-image: url('../images/com/icon_recipt-b.svg');}
.ico.save {background-image: url('../images/com/icon_save.svg');}
.ico.tel-b {background-image: url('../images/com/icon_tel_bk.svg');}
.ico.location {background-image: url('../images/com/icon_location.svg');}
.ico.camera {background-image: url('../images/com/icon_camera.svg');}
.ico.modify {width: 8vw; height: 8vw; background-image: url('../images/com/icon_modify.svg');}
.ico.story-w {width: 6.933vw; height: 6.933vw; background-image: url('../images/com/icon_story-w.svg');}
.ico.refresh {width: 8.480vw; height: 8.480vw; background-image: url('../images/com/icon_refresh.svg');}
.ico.trophy-l {width: 7.467vw; height: 7.467vw; background-image: url('../images/com/icon_trophy-l.svg');}
.ico.trophy {width: 4.800vw; height: 4.533vw; background-image: url('../images/com/icon_trophy.svg');}
.ico.check-s {width: 2.133vw; height: 1.333vw; background-image: url('../images/com/icon_check-s.svg');}
.ico.order {width: 6.933vw; height: 6.933vw; background-image: url('../images/com/icon_order.svg');}
.ico.service-center {width: 6.933vw; height: 6.933vw; background-image: url('../images/com/icon_service-center.svg');}
.ico.setting {width: 6.933vw; height: 6.933vw; background-image: url('../images/com/icon_setting.svg');}
.ico.logout {width: 7.467vw; height: 7.467vw; background-image: url('../images/com/icon_logout.svg');}
.ico.help {width: 4.800vw; height: 4.800vw; background-image: url('../images/com/icon_help.svg');}
.ico.download {width: 5.333vw; height: 4.533vw; background-image: url('../images/com/icon_download.svg');}
.ico.plus {width: 6.133vw; height: 6.133vw; background-image: url('../images/com/icon_plus.svg');}

.ico.gift-add {width: 9.600vw; height: 6.933vw; background-image: url('../images/com/icon_gift-add.svg');}
.ico.add-card {width: 8vw; height: 8vw; background-image: url('../images/com/icon_add-card.svg');}
.ico.card-input {width: 9.600vw; height: 6.933vw; background-image: url('../images/com/icon_card-input.svg');}
.ico.nodata {width: 9.067vw; height: 8.800vw; background-image: url('../images/com/icon_nodata.svg');}
.ico.nodata-order {width:9.600vw; height: 9.333vw; background-image: url('../images/com/icon_nodata-order.svg');}

/* .ico.store */
.ico.store-alert {width: 10.400vw; height: 9.600vw; background-image: url('../images/com/icon_store-alert.svg');}

/* .ico.store-type */
.ico.store-type.house {background-image: url('../images/store/store_house.svg');}
.ico.store-type.building {background-image: url('../images/store/store_building.svg');}
.ico.store-type.rest-area {background-image: url('../images/store/store_rest-area.svg');}
.ico.store-type.terminal {background-image: url('../images/store/store_terminal.svg');}
.ico.store-type.head-office {background-image: url('../images/store/store_head-office.svg');}
.ico.store-type.drive-thru {background-image: url('../images/store/store_drive-thru.svg');}
.ico.store-type.vivaldi-park {background-image: url('../images/store/store_vivaldi-park.svg');}
.ico.store-type.hospital {background-image: url('../images/store/store_hospital.svg');}
.ico.store-type.cinema {background-image: url('../images/store/store_cinema.svg');}
.ico.store-type.theme-park {background-image: url('../images/store/store_theme-park.svg');}

.ico.store-type.small.house {background-image: url('../images/store/store_house-s.svg');}
.ico.store-type.small.building {background-image: url('../images/store/store_building-s.svg');}
.ico.store-type.small.rest-area {background-image: url('../images/store/store_rest-area-s.svg');}
.ico.store-type.small.terminal {background-image: url('../images/store/store_terminal-s.svg');}
.ico.store-type.small.head-office {background-image: url('../images/store/store_head-office-s.svg');}
.ico.store-type.small.drive-thru {background-image: url('../images/store/store_drive-thru-s.svg');}
.ico.store-type.small.vivaldi-park {background-image: url('../images/store/store_vivaldi-park-s.svg');}
.ico.store-type.small.hospital {background-image: url('../images/store/store_hospital-s.svg');}
.ico.store-type.small.cinema {background-image: url('../images/store/store_cinema-s.svg');}
.ico.store-type.small.theme-park {background-image: url('../images/store/store_theme-park-s.svg');}

/* .ico.menu */
.ico.menu-order {background-image: url('../images/com/icon_menu_order.svg');}
.ico.menu-order-l {background-image: url('../images/com/icon_menu_order-l.svg');}
.ico.menu-store {background-image: url('../images/com/icon_menu_store.svg');}
.ico.menu-story {background-image: url('../images/com/icon_menu_story.svg');}
.ico.menu-notice {background-image: url('../images/com/icon_menu_notice.svg');}
.ico.menu-faq {background-image: url('../images/com/icon_menu_faq.svg');}
.ico.menu-my {background-image: url('../images/com/icon_menu_my.svg');}
.ico.menu-website {background-image: url('../images/com/icon_menu_website.svg');}
.ico.menu-set {background-image: url('../images/com/icon_menu_set.svg');}
.ico.menu-business {background-image: url('../images/com/icon_menu_business.svg');}
.ico.menu-term {background-image: url('../images/com/icon_menu_term.svg');}
.ico.menu-privacy {background-image: url('../images/com/icon_menu_privacy.svg');}

a[target=_blank]::after {content: ''; display: block; position: absolute; top: 50%; right: 0; width: 6.4vw; height: 6.4vw; background: url('../images/com/icon_external.svg') no-repeat 0 0; background-size: cover; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); vertical-align: middle;}

/* flex */
.flex-center,
.flex-both,
.flex-start,
.flex-end,
.flex-list{display: -ms-flexbox; display: -webkit-flex; display: flex;}
.flex-center{
	-webkit-justify-content: center; -ms-flex-pack: center; justify-content: center;
	-webkit-align-items: center; -ms-flex-align: center; align-items: center;
}
.flex-both{
	-webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between;
	-webkit-align-items: center; -ms-flex-align: center; align-items: center;
}
.flex-start{
	-webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start;
	-webkit-align-items: center; -ms-flex-align: center; align-items: center;
}
.flex-end{
	-webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end;
	-webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start;
}
.flex-list{
	-webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap;
	-webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start;
}
.flex-col{
	-webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column;
}

/* tabs */
.tabs							{display:flex;}
.tabs.large{clear: both;display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-direction: row;flex-direction: row; -webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between; -ms-flex-line-pack: center;align-content: center; text-align: center; overflow: hidden;}

.tabs a,
.tabs span{position: relative;display: block;font-weight: 700; font-size: 4.267vw;text-decoration:none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
	text-align: center;
}
.tabs a{cursor: pointer;}
.tabs li{-webkit-box-flex: 1;-ms-flex: 1;flex: 1; height: 15.067vw; line-height: 15.067vw; color: #000; border-bottom: 0.267vw solid #ebebeb;}
.tabs li + li {border-left: 0.267vw solid #fbfbfb;}
.tabs li a{display: block;font-weight: 700; font-size: 4.267vw;color: #b9b9b9;}
.tabs li.current a,
.tabs li.current a:hover,
.tabs li.current a:focus {color: #000;}
.tab-content{display: none}
.tab-content.active{display: block;}

.tab-wrap {}
.tab-wrap .tabs li {display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-flex: 0; -ms-flex: none; flex: none; width: auto; height: 20.267vw; border: 0;}
.tab-wrap .tabs li + li {border-left: 0;}
.tab-wrap .tabs li + li > a {padding-left: 5.333vw;}
.tab-wrap .tabs li.active a {color: #ff592e;}
.tab-wrap .tabs li a{height: 100%; font-weight: 400; font-size: 3.733vw; color: #9c9c9c; border: 0;}


/* table */
.data-table{width:100%; table-layout: fixed;}
.data-table th{color: #575757; padding: 6.133vw 0;}
.data-table th,
.data-table td{text-align:center;background-color: #fff; border:0.267vw solid #f1f1f1; font-size: 3.733vw;}
.data-table td{color: #929292; padding: 6.933vw 0;}
.data-table td a{color:inherit;}


/*accordion*/
.js-accordion-switche{border-bottom: 0.267vw solid #f4f4f4; padding: 5.333vw 0; cursor: pointer;}
.js-accordion-switche .ico {-webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg);}
.active:not(.tab-content) .js-accordion-switche .ico{-webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg);}
.js-accordion-content{display: none; height: 0;	-webkit-transition: all 0.3s; transition: all 0.3s; }
.js-accordion-content.active{display: block; height: auto; padding: 4.267vw 0;}

/* toggle */
.toggle-wrap {border-top: 0.267vw solid #fcfcfc;}
.toggle-wrap > li {border-bottom: 0.267vw solid #fcfcfc;}
.toggle-switch {position: relative;}
.toggle-switch::after {content: ''; display: inline-block; position: absolute; top: 50%; right: 0; width: 2.320vw; height: 2.320vw; background-image: url('../images/@uio/accordion_arr.svg'); background-size: cover; -webkit-transform: translateY(-50%) rotate(180deg); -ms-transform: translateY(-50%) rotate(180deg); -o-transform: translateY(-50%) rotate(180deg); transform: translateY(-50%) rotate(180deg);}
.toggle-wrap .active .toggle-switch::after {-webkit-transform: translateY(-50%) rotate(0deg); -ms-transform: translateY(-50%) rotate(0deg); -o-transform: translateY(-50%) rotate(0deg); transform: translateY(-50%) rotate(0deg);}
.toggle-cont {display: none;}
.toggle-switch::after {right: 5.333vw;}


/* ellipsis */
.ellipsis	{display:block;overflow:hidden;text-overflow:ellipsis;-webkit-box-orient:vertical;word-wrap:break-word;display:-webkit-box; /*line-height:1.5;height:24px;*/-webkit-line-clamp:1;}
.ellipsis.line2	 {height:48px;-webkit-line-clamp:2;}


/* .item */
.item:not(.js-accordion-content){position:relative;display:block;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
/* .item.depth-menu */
.item.depth-menu {}
.item.depth-menu .ico:not(.new) {width: 6.933vw; height: 6.933vw; vertical-align: middle; margin-right: 4.267vw;}
.item.depth-menu > span {position: relative; font-size: 4.267vw; vertical-align: middle;}
.item.depth-menu .ico.external-large{position: absolute; top: 0; right: 0;}

/* .item.store */
.item.store {width: 100%; height: 57.6vw; border: 0.267vw solid #ebebeb; padding: 2.667vw 0;}
.item.store > .flex-both {-webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; padding: 0 2.933vw;}
.item.store .table-order {display: block; width: 1.867vw; height: 1.867vw;; border-radius: 50%; margin-top: 0.8vw;margin-right: 0.8vw;}
.item.store .table-order.possible {background-color: #3ed156;}
.item.store .table-order.impossible {background-color: #bfbfbf;}
.item.store .img-wrap {width: 18.667vw; height: 18.933vw; margin: 0 auto;}
.item.store .bookmark {margin-top: -1.067vw; margin-left: -1.067vw;}
/* .item.store .img-wrap img, */
.item.store .img-wrap .ico {width: 100%; height: 100%;}
/* .item.store .img-wrap + .data-wrap {margin-top: 2.133vw;} */
.item.store .data-wrap {text-align: center;}
.item.store .data-wrap .place {font-weight: 700; font-size: 3.733vw; min-height: 6.400vw; max-height: 9.627vw; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end;-webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; word-break: keep-all; padding: 0 1.333vw;}
.item.store .data-wrap .distance {font-weight: 700; font-size: 3.200vw;}
.item.store .data-wrap .place + .provide-list,
.item.store .data-wrap .provide-list + .distance{margin-top: 5.333vw;}
/* .item.store-info */
.item.store-info .info-wrap,
.item.store-info .title-wrap {-webkit-box-align: end; -ms-flex-align: end; align-items: flex-end;}
.item.store-info .title-wrap .ico{width: 8.533vw; height: 8.8vw;}
.item.store-info .title-wrap .ico.drive-thru {width: 8.8vw;}
.item.store-info .title-wrap .ico.hospital,
.item.store-info .title-wrap .ico.cinema {width: 8.8vw; height: 9.067vw;}
.item.store-info .title-wrap .ico.theme-park {width: 9.067vw;}
.item.store-info .title-wrap .ico.theme-park,
.item.store-info .title-wrap .ico.head-office {height: 8.533vw;}
.item.store-info .title-wrap .ico + .title {margin-left: 3.200vw;}
.item.store-info .info-wrap + p.alert {margin-top: 2.933vw;}
/* .item.info-detail */
.item.info-detail .title-wrap {padding: 4.800vw 5.333vw; margin-bottom: 0;}
.item.info-detail .title-wrap .title {font-size: 3.733vw;}
.item.info-detail .ico {margin-right: 2.133vw;}
.item.info-detail .ico.pin {margin-right: 2.667vw;}
.item.info-detail .detail-wrap {background-color: #fbfbfb; font-size: 3.733vw; padding: 5.867vw 0; box-sizing: border-box;}
.item.info-detail .detail-wrap > *:not(.section-slider) {padding-left: 5.333vw; padding-right: 5.333vw; box-sizing: border-box;}
.item.info-detail .detail-wrap .ico.time {opacity: 0.6;}
.item.info-detail .detail-wrap > ul,
.item.info-detail .detail-wrap p {font-size: inherit;}
.item.info-detail .detail-wrap .text {font-size: 3.467vw;}
.item.info-detail .detail-wrap > ul li + li {margin-top: 4.8vw;}
.item.info-detail .detail-wrap ul + .swiper-container {margin-top: 8vw;}
.item.info-detail .map-wrap {width: 100%; height: 54.133vw; margin-top: 5.333vw;}
.item.info-detail .map-wrap iframe {width: 100%; height: 100%;}
/* .item.store-search */
.item.store-search {font-size: 3.733vw;}
.item.store-search > .flex-both {-webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start;}
.item.store-search .detail-wrap .title{font-weight: 700; font-size: inherit; padding-right: 2.667vw; box-sizing: border-box;}
.item.store-search .detail-wrap .place {position: relative; padding-left: 2.667vw; box-sizing: border-box; word-break: keep-all;}
.item.store-search .detail-wrap .place::before {content: ''; position: absolute; display: inline-block; top: 0.667vw; left: 0; width: 0.267vw; height: 3.467vw; background-color: #c6c6c6;}
/* .item.menu */
.item.menu .img-wrap {height: 37.067vw; overflow: hidden; font-size: 0;}
.item.menu .img-wrap img{width: 100%; /*height: 100%; object-fit: cover; object-position: center;*/}
.item.menu .img-wrap + .detail-wrap {margin-top: 2.133vw;}
.item.menu .detail-wrap {font-weight: 700; text-align: center;}
.item.menu .detail-wrap .title {font-weight: 400; font-size: 4vw;}
.item.menu .detail-wrap .title > .en {display: block; font-weight: 400; font-size: 2.667vw; color: #000; opacity: 0.4;}
.item.menu .detail-wrap .title + .price {margin-top: 2.667vw;}
.item.menu .detail-wrap .price {font-weight: 400; font-size: 3.733vw;}
.item.menu .badge {position: absolute; top: 2.667vw; left: 2.667vw;}
.item.menu .badge:nth-child(2) {top: calc(2.667vw + (10.133vw * 1) + (1.067vw * 1));}
.item.menu .badge:nth-child(3) {top: calc(2.667vw + (10.133vw * 2) + (1.067vw * 2));}
.item.menu .badge:nth-child(4) {top: calc(2.667vw + (10.133vw * 3) + (1.067vw * 3));}
/* .item.drink-info */
.item.drink-info .img-wrap {width: 100%; /*height:72.800vw;*/ height: auto; font-size: 0;}
.item.drink-info .img-wrap img {width: 100%;}
.item.drink-info .detail-wrap {display: -ms-flexbox; display: -webkit-flex; display: flex;
	-webkit-box-align: end; -ms-flex-align: end; align-items: flex-end;
	-webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; position: relative;}
.item.drink-info .detail-wrap .type {font-weight: 600; font-size: 3.200vw;}
.item.drink-info .detail-wrap .type + .name {margin-top: 2.667vw;}
.item.drink-info .detail-wrap .name {font-weight: 700; font-size: 5.333vw;}
.item.drink-info .detail-wrap .name .en {display: block; font-weight: 400; font-size: 3.200vw; color: rgba(0,0,0,0.4); margin-top: 0.267vw;}
.item.drink-info .detail-wrap .name + .text {margin-top: 6.4vw;}
.item.drink-info .detail-wrap .text {font-size: 3.733vw; color: rgba(0,0,0,0.45); word-break: keep-all;}
.item.drink-info .detail-wrap .price {font-weight: 700; font-size: 5.333vw;}
/* .item.md */
.item.md {font-size: 0;}
.item.md .img-wrap {width: 44vw; height: 43.733vw; overflow: hidden; font-size: 0;}
.item.md .img-wrap img{width: 100%; height: 100%;  -o-object-fit: cover; object-fit: cover; -o-object-position: center; object-position: center}
.item.md .img-wrap + .data-wrap {margin-top: 3.2vw;}
.item.md .data-wrap .title ,
.item.md .data-wrap .price-box {font-size: 3.733vw; text-align: center;}
.item.md .data-wrap .title + .price-box {font-size: 3.733vw; text-align: center; margin-top: 2.133vw;}
.item.md .data-wrap .price-box > span {display: inline-block; font-weight: 700;}
.item.md .data-wrap .price-box > span + span {margin-left: 0.533vw;}
/* .item.my-info */
.item.my-info {display: -ms-flexbox; display: -webkit-flex; display: flex;
    -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between;
	-webkit-align-items: center; -ms-flex-align: center; align-items: center;
	position: sticky; top: 0; left: 0; height: 16vw; background-color: #fff; border-bottom: 0.267vw solid #f1f1f1; padding: 0 5.333vw; z-index: 2;}
.item.my-info .user {letter-spacing:-0.085vw;}
.item.my-info .user span {display: inline-block; font-weight: 700;}
.item.my-info .user-wrap .user + .btn {margin-left: 2.133vw;}
.item.my-info .btn {display: -ms-flexbox; display: -webkit-flex; display: flex;
    -webkit-align-items: center; -ms-flex-align: center; align-items: center;}
.item.my-info .btn,
.item.my-info .btn-area {height: 100%;}
.item.my-info .speech-wrap {position: absolute; top: -5.280vw; left: 27.867vw; z-index: 2;}
.item.my-info .btn-area .btn + .btn {margin-left: 4.267vw;}
.item.my-info .btn > .ico {vertical-align: middle;}
/* .item.my-state */
.item.my-state {display: -ms-flexbox; display: -webkit-flex; display: flex;
    -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column;
    -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between;
    height: 34.667vw; border-top: 0.267vw solid #f1f1f1; padding: 5.867vw 0;}
.item.my-state .img-wrap {width: 10.133vw; height: 10.133vw; margin: 0 auto;}
.item.my-state .img-wrap .ico {width: 100%; height: 100%;}
.item.my-state .img-wrap .ico.store-type.small {display: block; position: relative; top: 50%; left: 0; width: 8vw; height: 8vw; margin: 0 auto; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%);}
.item.my-state .data-wrap {display: -ms-flexbox; display: -webkit-flex; display: flex;
    -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; text-align: center;}
.item.my-state .data-wrap .title {font-size: 2.933vw; letter-spacing: -0.059vw; color: #9c9c9c;}
.item.my-state .data-wrap .state {font-weight: 700; font-size: 3.733vw; margin-bottom: 1.333vw;}
.item.my-state .data-wrap .state > em {display: inline-block; font-weight: 700; color: #989898;}
/* .item.coupon */
.item.coupon {display: -ms-flexbox; display: -webkit-flex; display: flex;
    -webkit-align-items: center; -ms-flex-align: center; align-items: center;
    -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between;
    height: 23.200vw; border-top: 0.267vw solid #ebebeb; border-bottom: 0.267vw solid #ebebeb; padding: 0;}
.item.coupon .data-wrap .day{font-weight: 700; font-size: 3.2vw; letter-spacing: -0.064vw; color: #ff592e;}
.item.coupon .data-wrap .day.num{font-weight: 500;}
.item.coupon .data-wrap .day.expire {color: #767676;}
.item.coupon .data-wrap .day + .title {margin-top: 1.067vw;}
.item.coupon .data-wrap .title {font-weight: 700; font-size: 3.733vw;}
.item.coupon .data-wrap + .ico-wrap {border-left: 0.267vw solid #ebebeb;}
.item.coupon .ico-wrap {display: -ms-flexbox; display: -webkit-flex; display: flex;
     width: 17.333vw; height: 100%; text-align: center;}
/* .item.attention */
.item.attention {background-color: #fbfbfb; border-bottom: 0.267vw solid #ebebeb; padding: 4.933vw 1.867vw;}
.item.attention .title {font-weight: 700; font-size: 2.933vw;}
.item.attention .title .ico {margin-right: 1.067vw; vertical-align: -0.800vw;}
.item.attention .text {font-size: 2.933vw; color: rgba(84,84,84,0.8); padding-left: 1.867vw; margin-top: 3.200vw;}
/* .item.dalkomm-story */
.item.dalkomm-story {border: 0.267vw solid #ebebeb;}
.item.dalkomm-story .img-wrap {width: calc(100% + 0.533vw); height: 52.267vw; margin-left: -0.267vw; margin-top: -0.267vw;}
.item.dalkomm-story .img-wrap img{width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; -o-object-position: center; object-position: center;}
.item.dalkomm-story .data-wrap {padding: 6.133vw 4.267vw;}
.item.dalkomm-story .data-wrap .title {font-weight: 700; font-size: 4.800vw; letter-spacing: -0.120vw;}
.item.dalkomm-story .data-wrap .title + .text {margin-top: 1.333vw;}
.item.dalkomm-story .data-wrap .text {font-size: 3.733vw; color: #8c8c8c; letter-spacing: -0.075vw;}
.item.dalkomm-story .data-wrap .text + .date {margin-top: 5.333vw;}
.item.dalkomm-story .data-wrap .date {font-weight: 500; font-size: 3.2vw; color: #9c9c9c; letter-spacing: -0.064vw;}
.item.dalkomm-story .badge-wrap {position: absolute; top: 4.267vw; left: 4.267vw;}
/*.item.order*/
.item.order {display: -ms-flexbox; display: -webkit-flex; display: flex;}
.item.order .btn.delete {position: absolute; top: 0; right: 0;}
.item.order .img-wrap {width: 26.667vw; height: 26.667vw; font-size: 0;}
.item.order .img-wrap img{width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; -o-object-position: center; object-position: center;}
.item.order .detail-wrap {display: -ms-flexbox; display: -webkit-flex; display: flex;
	-webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between;
	-webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column;
	width: calc(100% - 26.667vw); padding-left: 3.733vw; box-sizing: border-box;}
.item.order .title {font-weight: 700; word-break: keep-all;}
.item.order .title > .en {display: block; font-weight: 400; font-size: 3.200vw; color: #989898;;}
.item.order .title,
.item.order .price {font-size: 3.733vw;}
.item.order .price > span {display: inline-block; vertical-align: middle; margin-left: 1.333vw;}
.item.order .detail-wrap .info ,
.item.order .detail-wrap .option {-webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; font-size: 3.467vw; color: #9c9c9c;}
.item.order .detail-wrap .option span {word-break: keep-all;}
.item.order .detail-wrap .option span:nth-child(1) {display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start;width: calc(100% - 20vw); flex-wrap: wrap;}
.item.order .detail-wrap .amount {font-size: 3.467vw;}
.item.order .detail-wrap .amount > span {margin-left: 0.533vw;}
.item.order .detail-wrap .option span > em {width: 14.667vw;}
.item.order .detail-wrap .option span + span {width: 20vw; margin-top: 0.267vw; text-align: right;}
.item.order .detail-wrap .option > span > em {display: inline-block; margin-right: 1.067vw;}
.item.order .detail-wrap .info {margin: 1.867vw 0 1.067vw;}
.item.order .detail-wrap .info > span {display: inline-block; position: relative;}
.item.order .detail-wrap .info > span + span::before {content: ''; display: inline-block; position: relative; top: 0.267vw; width: 0.267vw; height: 2.667vw; background-color: #d4d4d4; margin: 0 2vw 0 1.6vw;}
.item.order.making .status-info .status {color: #ff592e;}
.item.order.making .order-info > .flex-both {-webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start;}
.item.order .order-info > .flex-both .title {width: 58%; word-break: break-all;}
.item.order .order-info > .flex-both .title + .location {padding-left: 2.667vw; box-sizing: border-box;}
.item.order .order-info > .flex-both .location {width: 42%; text-align: right; word-break: break-all;}

/* .item.card */
.item.card {border: 0.267vw solid #ebebeb; border-radius: 1.600vw;}
.item.card .card-wrap {position: relative; width: calc(100% + 0.533vw); height: 53.333vw; background-repeat: no-repeat; background-position: 0 0 ;background-size: cover; margin-left: -0.267vw; margin-top: -0.267vw;}
.item.card.membership .card-wrap {background-image: url('../images/com/card_membership.svg');}
.item.card.gift .card-wrap {background-image: url('../images/com/card_gift.svg');}
.item.card .card-wrap .grade {display: -ms-flexbox; display: -webkit-flex; display: flex;
	-webkit-justify-content: center; -ms-flex-pack: center; justify-content: center;
	-webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column;
	width: 100%; height: 100%; font-weight: 600; font-size: 3.733vw; letter-spacing: 0.747vw; text-align: center; color: #fff;}
.item.card .card-wrap .grade,
.user-info-wrap .my-info .grade {font-family: "Montserrat", 'NanumSquare','돋움', Dotum, '굴림', Gulim, Verdana, Arial, sans-serif;}
.item.card .card-wrap .sort {position: absolute; bottom: 3.200vw; left: 0; width: 100%; font-weight: 500; font-size: 2.667vw; color: #fff; text-align: center; opacity: 0.5;}
.item.card .barcode-wrap {background-color: #fff;border-top: 0;padding-top: 9.2vw; padding-bottom: 8vw; text-align: center;}
.item.card .barcode-wrap .barcode {font-size: 0;}
.item.card .barcode .img-wrap {width: 44.827vw; height: 9.440vw; margin: 0 auto;}
.item.card .barcode .img-wrap img {width: 100%;}
.item.card .barcode .num {font-weight: 500; font-size: 2.933vw; color: rgba(0,0,0,0.5); margin-top: 0.8vw;}
.item.card .barcode + .btn {margin-top: 6.933vw;}
.item.card .state-wrap {width: 100%; height: 18.667vw; line-height: 18.667vw; background-color: #f7f7f7; padding: 0 5.333vw; box-sizing: border-box;}
.item.card .state-wrap .possess {width: calc(100% - 25.667vw);}
.item.card .state-wrap .possess .title {font-weight: 700;}
.item.card .state-wrap .possess .text,
.item.card .state-wrap .possess .price,
.item.card .state-wrap .possess + .btn {display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; font-weight: 700;}
.item.card .state-wrap .possess + .btn {-webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; width: 25.667vw;}
.item.card .state-wrap .possess .price {display: inline-block; min-width: 18.667vw; text-align: right; padding-left: 2.400vw; box-sizing: border-box;}
.item.card .state-wrap .ico.money {margin-right: 1.333vw;}
.item.card .state-wrap .ico {vertical-align: middle;}
.item.card .barcode-wrap,
.item.card .state-wrap {border-bottom-left-radius: 1.600vw; border-bottom-right-radius: 1.600vw;}
.item.card .textarea-wrap {width: 100%; height: 34.667vw; border: 0.267vw solid #dbdbdb; border-bottom-left-radius: 1.600vw; border-bottom-right-radius: 1.600vw;}

.item.card.add {-webkit-filter: grayscale(1); filter: grayscale(1);}
.item.card.add::after {content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.9);}
.item.card.add .barcode-wrap {-webkit-filter: opacity(0.2); filter: opacity(0.2);}
.item.card.add .btn-area {-webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-align-items: center; -ms-flex-align: center; align-items: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); z-index: 1;}
.item.card.add .btn-area .text {font-weight: 700; font-size: 4.267vw; margin-top: 4.267vw;}
.item.card.add .btn-area .btn {padding: 1.333vw; box-sizing: border-box;}
.item.card.add .btn-area .btn .ico {display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; width: 14.667vw; height: 14.667vw; background-color: #303030; background-image: url('../images/com/icon_plus.svg'); background-size: 6.133vw 6.133vw; border-radius: 50%;  color: #fff; margin: 0 auto;}

/* .item.card-create */
.item.card-create {display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; width: 100%; height: 53.067vw; background-color: #fbfbfb; border: 0.267vw solid #eee; border-radius: 1.600vw; box-sizing: border-box;}
.item.card-create .title-wrap {text-align: center;}
.item.card-create .title-wrap .ico + .title {margin-top: 2.133vw;}
.item.card-create .title-wrap .title {font-weight: 700; text-align: center;}

/* .item.info-order */
.item.info-order {padding-top: 5.867vw; padding-bottom: 5.333vw;}
.item.info-order .title {font-size: 3.733vw;}
.item.info-order .price {font-weight: 800; font-size: 5.333vw;}
.item.info-order .price .btn-cancle {width: 6.4vw; height: 6.4vw;}
.item.info-order .price .btn-cancle + .uio-amount {margin-left: 5.333vw;}
.item.info-order .flex-both:not(.flex-center) {-webkit-box-align: end; -ms-flex-align: end; align-items: flex-end;}
/* .item.order-detail */
.item.order-detail span:not(.label) {font-size: 3.733vw;}
.item.order-detail .store {font-weight: 700;}
.item.order-detail .address {display: block; width: 100%; color: #666; margin-top: 2.933vw; text-align: right;}
/* .item.info-customer */
.item.info-customer .title {width: 26.400vw; color: rgba(0,0,0,0.6);}
.item.info-customer .title,
.item.info-customer .text {font-size: 0.875rem;}
.item.info-customer .text {width: calc(100% - 26.400vw); letter-spacing: -0.075vw;}
.item.info-customer .text > span + .btn.tel {margin-left: 1.333vw;}
/* .item.history */
.item.history {display: -ms-flexbox; display: -webkit-flex; display: flex;
	-webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between;
	-webkit-align-items: center; -ms-flex-align: center; align-items: center;
	width: 100%;}
.item.history p {font-size: 3.733vw;}
.item.history .price > strong {font-weight: 700;}
.item.history .detail-wrap .day {width: 22.400vw;}
.item.history .data-wrap .tel {color: #9c9c9c;}
.item.history.use .state ,
.item.history.use .price {color: #ff2323;}
/* .item.message */
.item.message {text-align: center;}
.item.message .ico + p {margin-top: 2.667vw;}
.item.message p.text .en{display: block; font-weight: 600; font-size: 3.200vw; margin-bottom: 1.067vw;}
.item.message p.text strong {font-weight: 700;}
.item.message + .btn-area{margin-top: 10.667vw;}
/* .item.recommend */
/* .item.stamp */
.item.stamp {display: -webkit-box;display: -ms-flexbox;display: flex;
	-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;
	-webkit-box-align: center;-ms-flex-align: center;align-items: center;
	width: 14.4vw; height: 14.4vw; border: 0.267vw solid #f6f6f6; border-radius: 50%; background-color: #fff; box-sizing: border-box;}
.item.stamp .num {display: inline-block; font-weight: 500; font-size: 4.267vw; letter-spacing: 0.427vw; color: #7F7F7F;}
.item.stamp.save {background-color: #ff592e;}
.item.stamp.save .num {color: #fff;}
.item.stamp.finish .num {position: relative; letter-spacing: normal;}
/* .item.notice */
.item.notice {padding: 7.2vw 5.333vw; border-bottom: 0.267vw solid #F0F0F0; background-color: #fff;}
.item.notice a {display: block;}
.item.notice .info {display: block; font-size: 2.933vw; color: #4c4c4c;}
.item.notice .info + .title-area {margin-top: 2.133vw;}
.item.notice .title-area {font-weight: 500; font-size: 3.733vw;}
.item.notice .title-area .ellipsis.line2 {height: auto; max-height: 11.2vw;}
/* .item.board */
.item.board {padding: 8vw 5.333vw 29.334vw;}
.item.board p {font-size: 3.733vw; letter-spacing: -0.093vw; line-height: 6.4vw; color: #3d3d3d; word-break: keep-all;}
/* .item.board p + p ,
.item.board p + img,
.item.board img + p{margin-top: 8vw;}*/
.item.board p strong {font-weight: 700;}
.item.board img {width: 100%;}
/* .item.options */
.item.options {display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center;-ms-flex-align: center;align-items: center;}
/* .item.describe */
.item.describe {display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.item.describe .number {width: calc(100% - 17.333vw);}
.item.describe .number .no {font-weight: 700; font-size: 4.267vw; letter-spacing: -0.085vw;}
.item.describe .number .time {font-weight: 400; font-size: 3.733vw; letter-spacing: -0.075vw;}
.item.describe .state {}
/* .item.order-alert */
.item.order-alert {width: 100%;background-color: #b5b5b5;border-radius: 1.067vw;padding: 4.267vw 0 4.267vw 3.667vw;box-sizing: border-box;}
.item.order-alert .ico {position: absolute;top: 5.0vw;left: 3.667vw;}
.item.order-alert .text {font-size: 3.467vw;line-height: 5.333vw;color: #fff;padding-left: 4.833vw;word-break: keep-all;}
/* .item.membership */
.item.membership .state.silver {background-color: #fc8436;}
.item.membership .state.gold {background-color: #fc6c0f;}
.item.membership .state.platinum {background-color: #ff6400;}
.item.membership .state {padding-top: 16.533vw; padding-bottom: 16.533vw;}
.item.membership .state .grade {font-weight: 700; font-size: 4.800vw; color: #fff; text-align: center;}
.item.membership .state .text {font-size: 3.467vw; color: #fff; text-align: center}
.item.membership .state .grade + .text {margin-top: 1.067vw;}
/* .item.benefit */
.item.benefit {display: -ms-flexbox; display: -webkit-flex; display: flex;-webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start;}
.item.benefit .grade {width: 31.467vw;}
.item.benefit .grade > span {display: block;}
.item.benefit .grade .title {font-weight: 700; font-size: 4vw;}
.item.benefit .grade .title + .text {margin-top: 1.333vw;}
.item.benefit .grade .text {font-size: 3.200vw; color: rgba(0,0,0,0.5);}
.item.benefit .list {width: calc(100% - 31.467vw);}
.item.benefit .list > li {position: relative; font-size: 3.733vw; letter-spacing: -0.019vw; word-break: keep-all; padding-left: 2.667vw;}
.item.benefit .list > li::before {content: ''; display: inline-block; position: absolute; top: 1.867vw; left: 0.267vw; width: 0.533vw; height: 0.533vw; background-color: rgba(0,0,0,0.8);}
.item.benefit .list > li + li {margin-top: 2.133vw;}
.item.benefit .list > li .standard {display: block; font-size: 3.200vw; color: rgba(0,0,0,0.5); margin-top: 0.800vw;}
/* .item.save */
.item.save {padding: 5vw 5.333vw; box-sizing: border-box;}
.item.save > .flex-both {-webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; -webkit-box-align: stretch;-ms-flex-align: stretch;align-items: stretch;}
.item.save .data-wrap {display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; width: calc(100% - 21.333vw);}
.item.save .data-wrap .time {font-size: 3.200vw; color: rgba(0, 0, 0, 0.5);}
.item.save .data-wrap .time + .data-info {margin-top: 1.6vw;}
.item.save .data-info {display: block; font-size: 0;}
.item.save .data-info p {display: inline; position: relative; font-size: 3.733vw; line-height: 5.333vw; box-sizing: border-box; word-break: keep-all;}
.item.save .data-info p + p {}
.item.save .data-info .title {font-weight: 700;}
.item.save .data-info .title + p {margin-left: 4.533vw;}
.item.save .data-info .title + p::after {content: ''; display: inline-block; position: absolute; bottom: 0.400vw; left: -2.267vw; width: 0.267vw; height: 3.467vw; background-color: #d4d4d4;}
.item.save .data-info .text {display: block;}
.item.save .data-info p + .text {margin-top: 0.533vw;}
.item.save .state-wrap {display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; width: 21.333vw;}
.item.save .state {display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center;-ms-flex-align: center;align-items: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; font-size:3.733vw; text-align: center;}
.item.save .state.saving {color: #fc6c0f;}
.item.save .state.cancel {color: #7f7f7f;}
.item.save .amount {position: relative;}
.item.save .amount::before {content: ''; display: inline-block; position: relative; font-size:3.733vw; color: inherit; margin-left: 1.333vw;}
.item.save .amount.increase::before {content: '+';}
.item.save .amount.decrease::before {content: '-';}
/* .item.contact */
.item.contact {display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.item.contact .ico + span {margin-left: 4.533vw;}
.item.contact span {font-size: 3.733vw; color:#8d8d8d;}
/* .item.nodata */
.item.nodata .title {font-weight: 700; font-size: 4.800vw; text-align: center; padding-top: 8vw;}
.item.nodata .title + .btn-area {margin-top: 13.333vw;}
.item.nodata .text {font-size: 3.733vw; text-align: center;}
.item.nodata .text.gray {font-size: 4.267vw; color: rgba(0, 0, 0, 0.5);}
.item.nodata .ico {display: block; margin: 0 auto;}
.item.nodata .ico + .text {margin-top: 3.200vw;}
/* .item.free-coupon */
.item.free-coupon {background-color: #fff; }
.item.free-coupon .coupon-body {padding: 6.400vw 5.867vw 1.067vw; box-sizing: border-box;}
.item.free-coupon .title {font-weight: 700; font-size: 4.267vw; text-align: center;}
.item.free-coupon .title-wrap {}
.item.free-coupon .title-wrap + .data-wrap {margin-top: 6.400vw;}
.item.free-coupon .data-wrap {background-color: #f8f8f8; margin-bottom: 6.400vw; padding: 5.867vw 0; box-sizing: border-box;}
.item.free-coupon .data-wrap .title .en {display: block; font-weight: 600; font-size: 2.667vw; letter-spacing: -0.053vw;}
.item.free-coupon .data-wrap .title + .expiry {margin-top: 3.200vw;}
.item.free-coupon .data-wrap .expiry {font-size: 3.200vw; color: rgba(0, 0, 0, 0.5); text-align: center;}
.item.free-coupon .btn-area {margin-top: 0;}
/* .item.list */
.item.list {font-size: 4.267vw; border-bottom: 0.267vw solid rgba(112,112,112,0.1); padding: 5.600vw 5.333vw; box-sizing: border-box;}

/* attention list */
.attention-list > li {position: relative; line-height: 4.800vw; word-break: keep-all; padding-left: 2.933vw;}
.attention-list > li::before {content: ''; display: inline-block; position: absolute; top: 1.867vw; left: 0.267vw; width: 0.533vw; height: 0.533vw; background-color: #9f9f9f;}

/* data-list */
.data-list{margin-left:auto; margin-right:auto;}
.data-list[class*="col"]{
	width: 100%;
	display: -ms-flexbox; display: -webkit-flex; display: flex;
	-webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap;
	-webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start;
}
.data-list.col-2 > li{width: calc( (100% - 1.867vw) / 2); margin-top: 1.867vw;}
.data-list.col-2 > li:nth-child(2n){margin-left: 1.867vw;}
.data-list.col-3 > li{width: calc( 100% / 3); flex-basis: 33.3%;}

.provide-list {display: -ms-flexbox; display: -webkit-flex; display: flex;
	-webkit-justify-content: center; -ms-flex-pack: center; justify-content: center;
	-webkit-align-items: center; -ms-flex-align: center; align-items: center; font-size: 0;}
.provide-list > li + li {margin-left: 2.667vw;}
.provide-list .ico {width: 4.267vw; height: 3.200vw;}

.row-list li {position: relative;}
.row-list li + li::before {content: ''; display: inline-block; position: relative; top: 0.533vw; width: 0.267vw; }

/* popup */
.overlay {position:fixed;top:0;bottom:0;left:0;right:0;background: rgba(0, 0, 0, 0.6);visibility:hidden;opacity: 0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;
	z-index:-1; padding: 0 5.333vw;
}
body:not(.body-scroll) .overlay{
	display: -ms-flexbox; display: -webkit-flex; display: flex;
	-webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column;
	-webkit-align-items: center; -ms-flex-align: center; align-items: center;
}
body:not(.body-scroll) .overlay:not(.fixed-con) {-webkit-justify-content: center; -ms-flex-pack: center; justify-content: center;}
/* body:not(.body-scroll) .overlay.fixed-con{-webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end;} */
.overlay.active{visibility: visible; opacity: 1; overflow-y: auto; z-index: 101;}
.popup{position:relative;width: 100%; background-color:white; padding-top: 12.267vw;}
.popup .popup-header{display:block;padding:0 ;border-bottom:0.533vw solid  var(--black); box-sizing: border-box;}
.popup .popup-header .title {font-weight: 700; font-size: 4.267vw; letter-spacing: -0.085vw;}
.popup .popup-wrap {height: 100%;}
.popup .popup-wrap > button.btn-close{position:absolute;top:4.267vw;right:4.533vw;width:8vw;height:8vw;padding:0;background-color:white;}
.popup .popup-header .btn-close .ico{display: block;cursor: inherit;}
.popup .popup-header + .popup-body {margin-top: 8vw;}
.popup .popup-body .btn-area {margin-top: 12vw;}

.fixed-con {position:fixed;bottom:0;left:0;right:0;-webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end;}
.fixed-con .popup {-webkit-box-shadow: 0 -0.417vw 12.500vw 0 rgba(0, 0, 0, 0.1);box-shadow: 0 -0.417vw 12.500vw 0 rgba(0, 0, 0, 0.1); z-index:100;
	/*-webkit-transition: all .7s ease 0.5s;
	-moz-transition: all .7s ease 0.5s;
	-ms-transition: all .7s ease 0.5s;
	-o-transition: all .7s ease 0.5s;
	transition: all .7s ease 0.5s;*/}
.fixed-con.layer-pop .popup {opacity: 0; visibility: hidden; -webkit-box-shadow: 0 -0.417vw 12.500vw 0 rgba(0, 0, 0, 0.05); box-shadow: 0 -0.417vw 12.500vw 0 rgba(0, 0, 0, 0.05); z-index:100;}
.fixed-con.active {opacity: 1; visibility: visible; z-index: 100; bottom: 0;}
.fixed-con.dimm.active {top: 0;}
.fixed-con.dimm {background: rgba(0, 0, 0, 0.6);}
.fixed-con,
.fixed-con .popup {position: fixed; bottom: -100vh; left: 0;}
.fixed-con.active .popup {-webkit-animation: fixConUp 0.6s ease 0.1s forwards; -o-animation: fixConUp 0.6s ease 0.1s forwards; animation: fixConUp 0.6s ease 0.1s forwards;}
.fixed-con.deactive .popup {-webkit-animation: fixConDown 0.4s ease 0s forwards; -o-animation: fixConDown 0.4s ease 0s forwards; animation: fixConDown 0.4s ease 0s forwards;}
.fixed-con .popup-wrap {padding-top: 2.080vw;}
.toggle-switch::after {right: 5.333vw;}

@-webkit-keyframes fixConUp {
	0% {opacity: 0; visibility: hidden; bottom: -100vh;}
	100% {opacity: 1; visibility: visible; bottom: 0;}
}
@-moz-keyframes fixConUp {
	0% {opacity: 0; visibility: hidden; bottom: -100vh;}
	100% {opacity: 1; visibility: visible; bottom: 0;}
}
@keyframes fixConUp {
	0% {opacity: 0; visibility: hidden; bottom: -100vh;}
	100% {opacity: 1; visibility: visible; bottom: 0;}
}

@-webkit-keyframes fixConDown {
	0% {opacity: 1; visibility: visible; bottom: 0;}
	100% {opacity: 0; visibility: hidden; bottom: -100vh;}
}
@-moz-keyframes fixConDown {
	0% {opacity: 1; visibility: visible; bottom: 0;}
	100% {opacity: 0; visibility: hidden; bottom: -100vh;}
}
@keyframes fixConDown {
	0% {opacity: 1; visibility: visible; bottom: 0;}
	100% {opacity: 0; visibility: hidden; bottom: -100vh;}
}


/* section-title */
.section-title {font-weight: 700;}
.section-title.small {font-size: 3.467vw; text-align: center;}
.section-title + .text:not(.btn) {font-size: 4.8vw; margin-top: 1.333vw; text-align: center;}

/* sns-login */
.sns-login .title {font-size: 3.200vw; color: #9a9a9a; text-align: center;}
.sns-login .data-list {justify-content: center;}
.sns-login .data-list > li + li {margin-left: 5.067vw;}

/* step-state */
.step-state {display: -ms-flexbox; display: -webkit-flex; display: flex;
	-webkit-justify-content: center; -ms-flex-pack: center; justify-content: center;
	-webkit-align-items: center; -ms-flex-align: center; align-items: center;
	font-size: 0;}
.step-state > li {position: relative; width: 2.133vw; height: 2.133vw; background-color: #fff; border: 0.267vw solid #000; border-radius: 50%; font-weight: inherit;box-sizing: border-box;}
.step-state > li.current {background-color: #ff592e;}
.step-state > li + li {margin-left: 4.533vw;}
.step-state > li + li::before {content: ''; display: inline-block; position: absolute; top: 50%; left: -4.8vw; width: 4.8vw; height: 0.267vw; background-color: #000; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%);}

/* speech-bubble */
.speech-bubble {display: inline-block; position: relative; height: auto; background-color: #000; border-radius: 0.8vw; font-size: 3.733vw; line-height: 5.333vw; letter-spacing: -0.075vw; color: #fff; padding: 0 2.133vw; box-sizing: border-box;}
.speech-bubble::before {content: ''; display: block; position: absolute; bottom: calc(-1.867vw + 1px); left: 2.933vw; width: 0px;
    height: 0px;
    border-bottom: 1.867vw solid transparent;
    border-left: 2.720vw solid #000;}
.speech-bubble.en {font-weight: 500;}
.speech-bubble.small {border-radius: 1.067vw; line-height: 7.733vw; letter-spacing: normal; font-size: 3.200vw; padding: 0 1.600vw;}
.speech-bubble.small::before {bottom: -1.867vw; left: 50%; z-index: 1; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); border-top: 1.867vw solid #000; border-left: 1.200vw solid transparent; border-right: 1.200vw solid transparent; border-bottom: 0;}
.speech-bubble.ani {-webkit-animation: speechBubble 1.2s linear 0s 1; -o-animation: speechBubble 1.2s linear 0s 1; animation: speechBubble 1.2s linear 0s 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0); -webkit-transition: transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28); -o-transition: transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28); transition: transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);}
.speech-bubble.hide {-webkit-transform: translateY(-16vw); -ms-transform: translateY(-16vw); -o-transform: translateY(-16vw); transform: translateY(-16vw);}
@-webkit-keyframes speechBubble {
	0% {margin-top: 0;}
	20% {margin-top: 2.133vw;}
	40% {margin-top: 0px;}
	60% {margin-top: 2.133vw;}
	80% {margin-top: 0;}
	100% {margin-top: 0;}
}
@-moz-keyframes speechBubble {
	0% {margin-top: 0;}
	20% {margin-top: 2.133vw;}
	40% {margin-top: 0px;}
	60% {margin-top: 2.133vw;}
	80% {margin-top: 0;}
	100% {margin-top: 0;}
}
@keyframes speechBubble {
	0% {margin-top: 0;}
	20% {margin-top: 2.133vw;}
	40% {margin-top: 0px;}
	60% {margin-top: 2.133vw;}
	80% {margin-top: 0;}
	100% {margin-top: 0;}
}


/* alert-info */
.alert-info {text-align: center;}
.alert-info .text {font-size: 4vw; line-height: 6.400vw;}
p.alert,
span.alert{position: relative; font-size: 2.933vw; word-break: keep-all; padding-left: 4.267vw;}
p.alert > .ico ,
span.alert > .ico {position: absolute; top: 0; left: 0;}

.uio-amount {display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; font-size: 0;}
.uio-amount .ea {width: 13.333vw; text-align: center; font-size: 4.267vw; vertical-align: middle;}

.order-list > li + li {border-top: 0.267vw solid #fbfbfb;}

/* trophy-bar */
.trophy-bar .bar-wrap {width: 100%; height: 5.333vw; background-color: #f8f8f8;}
.trophy-bar .bar-wrap .bar {position: relative; font-size: 0; height: 100%;}
.trophy-bar .bar-wrap .bar-state {position: absolute; height: 100%; font-size: 0;}
.trophy-bar .bar-wrap .bar-state > span {display: inline-block; width: calc(100% / 3);}
.trophy-bar .bar-wrap .bar > ol {width: 100%; height: 100%;}
.trophy-bar .bar-wrap .bar > ol li {display: inline-block; position: relative; width: calc(100% / 3); height: 100%; text-align: center; box-sizing: border-box;}
.trophy-bar .bar-wrap .bar > ol li + li {border-left: 0.267vw solid rgba(248, 248, 248, 0.4)}
.trophy-bar .bar-wrap .bar > ol li.grade.silver {background-color: #fc8436;}
.trophy-bar .bar-wrap .text {position: absolute; bottom: -5.067vw; left: 0; width:100%; font-size: 2.933vw; color: rgba(0,0,0,0.4); ;}

/* .trophy-bar .bar-wrap .bar-state.silver + ol > li:nth-child(1),
.trophy-bar .bar-wrap .bar-state.gold + ol > li:nth-child(1),
.trophy-bar .bar-wrap .bar-state.platinum + ol > li:nth-child(1) {background-color: #fc8436;}
.trophy-bar .bar-wrap .bar-state.gold + ol > li:nth-child(2),
.trophy-bar .bar-wrap .bar-state.platinum + ol > li:nth-child(2){background-color: #fc6c0f;}
.trophy-bar .bar-wrap .bar-state.platinum + ol > li:nth-child(3) {background-color: #ff6400;} */

.trophy-bar .bar-wrap .bar-state.silver,
.trophy-bar .bar-wrap .bar-state.gold + ol > li:nth-child(1),
.trophy-bar .bar-wrap .bar-state.platinum + ol > li:nth-child(1) {background-color: #fc8436;}
.trophy-bar .bar-wrap .bar-state.gold,
.trophy-bar .bar-wrap .bar-state.platinum + ol > li:nth-child(2) {background-color: #fc6c0f;;}
.trophy-bar .bar-wrap .bar-state.platinum {background-color: #ff6400;}

/* loading */
.loading-wrap {position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.6); z-index: 102;}
.loading-wrap .loading {display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; position: absolute; top: 50%; left: 50%; width: 21.333vw; height: 21.333vw; background-color: #fff; border-radius: 50%; -webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}
.loading-wrap img{display: block; width: 12.267vw; height: 12.267vw;}
/* .loading-wrap img,
.loading-wrap::before {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.loading-wrap::before {content: ''; display: block; width: 21.333vw; height: 21.333vw; background-color: #fff; border-radius: 50%;} */

.nodata-wrap {padding-top: 56.8vw; padding-bottom: 30vw;}