#content.fade-in {opacity: 0; }
#content.fade-out {opacity: 1; transition: all 600ms ease-in-out;}
#event-wrap-id.fade-in {opacity: 0; }
.overlay.event-banner.active{background: none;}
.story-detail-wrap .btn-area .btn {background: #fff; color: #ff592e; font-weight: 900;font-size: 4.300vw;letter-spacing: -0.120vw;border: 1px solid #ff592e; width: 95%; margin: 0 auto;height: 74px;line-height: 74px;}
#event-wrap-id.fade-out {opacity: 1; transition: all 600ms ease-in-out;}
.order-state.fade-in {opacity: 0; }
.order-state.fade-out {opacity: 1; transition: all 600ms ease-in-out;}

.item.depth-menu.outLink::after{content: ''; display: block; position: absolute; top: 50%; right: 0; width: 6.4vw; height: 6.4vw; background: url('../images/com/icon_external.svg') no-repeat 0 0; background-size: cover; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); vertical-align: middle;}
.react-barcode {margin: 0 auto; max-width: 286px; overflow: hidden; display: flex; place-content: center;}
.react-barcode div:last-child {display: none;}
#content.drink.detail .fixed-con .item.info-order .text > span::after{content: none;}
input[type="number"]:disabled{background-color: rgb(255, 255, 255); color:rgb(0, 0, 0); opacity:1;-webkit-text-fill-color: inherit}
.btn-area.col-1 .btn {width: 100%;}
#popupExitJoin .popup-footer.col-1 .btn {width: 100%}
.overlay.active {z-index: 999;}
.btn.grey {background-color:#e4e4e4;color: #000; border: none;}
.item.store .data-wrap .place {word-break: break-all;}
#content.drink.detail .item.info-detail .detail-wrap .text + .table-wrap p span,
.item.info-detail .detail-wrap .markup p,
.item.info-detail .markup  {white-space: break-spaces !important; font-family: 'NanumSquare','돋움', Dotum, '굴림', Gulim, Verdana, Arial, sans-serif !important; font-size: 3.367vw !important;}

#content.story.detail .swiper-container{width: 100%;}
.flex-list .desc { position: absolute;font-size: 3.0vw;line-height: 5.333vw;box-sizing: border-box;top: 17vw;}
#content.drink.detail .fixed-con .data-list li.option .item.info-order{padding-top: 3.867vw;padding-bottom: 3.867vw;}
#content.drink.detail .fixed-con .data-list .item.info-order {height: 15.067vw;line-height: 15.067vw; }
.noDrag {-webkit-user-drag: none;-webkit-user-select: none;}
.loading-wrap{background: none;}

.banner-wrap .content-wrap .main-copy.white { color: #fff;}
.banner-wrap .content-wrap .text.white {color: #fff; opacity: 0.8;}
.banner-wrap .content-wrap .main-copy.black { color: #000;}
.banner-wrap .content-wrap .text.black {color: #000; opacity: 0.8;}

.ico.order {background-image: url('../images/com/icon_search_black.svg'); }
.ico.order.white {background-image: url('../images/com/icon_search.svg'); }
.main .swiper-scrollbar{ background: rgba(0,0,0,0.05) !important;}
.main .swiper-scrollbar-drag{background: #fff;}

#popupExitJoin2 .popup {padding-top: 0;}
#popupExitJoin2 .popup-body {padding: 11.2vw 2.6667vw;}
#popupExitJoin2 .info {font-size: 4.2667vw; line-height: 1.38; letter-spacing: -0.085vw; text-align: center;}
#popupExitJoin2 .info + .alert {margin-top: 3.2vw;}
#popupExitJoin2 .alert {padding: 0; font-size: 3.7333vw; text-align: center; color: #ff5858;}
#popupExitJoin2 .popup-footer {display: -webkit-box;display: -ms-flexbox;display: flex;}
#popupExitJoin2 .popup-footer .btn {width: 50%;}
#popupExitJoin2 .popup-footer .btn.normal {border: none; background-color: #e4e4e4;}
.app-menu .top-header .logo {width: 25.333vw; height: 3.467vw; background: url('../images/com/logo_dalkomm_balck.svg') no-repeat 0 0; background-size: cover;}
#content.pay:not(.history) #cardSlider {padding-bottom: 7.867vw;}
#content.pay.main .row-list {margin-top: 7.8vw;margin-bottom: 4vw;}
.gmnoprint.gm-style-cc,a[rel="noopener"],.gm-iv-address-link,.gm-iv-marker{display: none !important;}
.app-menu .top-header .w-inner{padding-top: 5.333vw;}
.pay.history .ico.alert {left: 17vw}
#content.pay.charge.history .nodata-wrap{ margin-top: 6.6vw;}
.contentView img{width: 100% !important; height: auto !important;}
#content.app-menu .gnb-list li.active span::before{content: ''; display: inline-block; position: absolute; top: 0.267vw; right: -2.400vw; width: 1.067vw; height: 1.067vw; background-color: #ff592e; border-radius: 50%;}
.loading-wrap img{width: 80px; height: 80px;}

.em-bold{color: #000;}

.coffee-tree .btn.game-state {color: #000;}
#CoffeeTreeGuide .swiper-button-next,
#CoffeeTreeGuide .content-wrap .btn.event-next {transition: none;}
#CoffeeTreeGuide .swiper-container,
#CoffeeTreeGuide .swiper-slide {font-size: 0 !important;}
#CoffeeTreeGuide .text-wrap .title {font-weight: 600; font-size: 4.267vw !important; text-align: center;}
#CoffeeTreeGuide .text-wrap .text {font-size: 3.2vw !important; color: rgba(0,0,0,0.8); text-align: center;;}