/* 기존 데이터 페이지 css 적용 */
#finalOrder {display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; padding-bottom: calc(18.667vw + 19.807vw + 7.067vw);}
#finalOrder > section {padding-left: 5.333vw; padding-right: 5.333vw; box-sizing: border-box;}
#finalOrder > section.pay_customer {order: 1; padding-bottom: 6vw; padding-top: 5.733vw;}
#finalOrder > section.pay_store {order: 2;}
#finalOrder > section.pay_inform {order: 3;}
.pay_store {font-size: 3.733vw; padding-top:5.2vw; border-top: 0.267vw solid #f1f1f1;}
.pay_store .title {font-weight: 700; font-size: inherit;}
.pay_store .title strong {font-weight: 400; padding-left: 2.667vw;}
/* .pay_store_content {padding-bottom: 4.8vw; border-bottom: 0.267vw solid #f1f1f1;} */
.item.store-search .detail-wrap .place::before {content: ''; position: absolute; display: inline-block; top: 0.4vw; left: 0; width: 0.267vw; height: 3.467vw; background-color: #c6c6c6;}

.pay_customer + .pay_inform {margin-top: 8vw; padding-top: 5.867vw; border-top: 0.267vw solid #f1f1f1;}

.pay-title.en {font-weight: 600;}
.pay-title,
.pay_carrier .list_title,
.pay_customer .title ,
.pay_store .title > h3,
.pay_inform .title {font-weight: 700; font-size: 4.267vw;}
.pay_customer .title + form ,
.pay-title + ul,
.pay_carrier .list_title + div,
.pay_way .title + ul {margin-top: 5.333vw;}

.pay_customer {display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.pay_customer > .title {width: 17.333vw;} 
.pay_customer .title .btn, 
.pay_customer .list .list_title {display: none;}
.pay_customer .form-box {display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center;-ms-flex-align: center; align-items: center; width: calc(100% - 17.333vw); font-size: 3.733vw;}
.pay_customer .form-box form.list {min-width: 0;}
.pay_customer .form-box > form.list:nth-child(1){width: 60%;}
.pay_customer .form-box > form.list:nth-child(2){width: 40% ;}
.pay_customer .form-box input {width: 100% ; text-align: right;}
.pay_customer .form-box .list_content {position: relative;}
.pay_customer .form-box > form.list:nth-child(2) .list_content::before {content: '/'; display: inline-block; position: absolute; top: 0.267vw; left: 0.800vw; font-size: 3.733vw; color: #000;}
.pay_customer > span {display: none;}

.pay_store .title > h3 {display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.pay_store .title > h3 strong {font-weight: 700; font-size: 3.733vw; padding-left: 0;}
.pay_store .pay_store_content h5 {text-align: right; font-size: 3.733vw; color: #666; margin-top: 2.933vw;}
.pay_store .pay_store_content h5 > a {display: none;}

.smartorder-menu .list_cell h4 > strong {font-weight: 700; font-size: 3.733vw;}
.smartorder-menu .list_cell .text-grey {font-weight: 400; font-size: 3.467vw; color: #9c9c9c; margin: 1.867vw 0 1.067vw;}
.smartorder-menu .list_cell {display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; position: relative; width: calc(100% - 26.667vw); font-size: 0; padding-left: 3.733vw;}
.smartorder-menu .list_cell > li {font-size: 3.733vw;}
.smartorder-menu .list_cell > li.text-center,
.smartorder-menu .list_cell > li.text-right {display: inline-block; width: 50%; margin-top: 0;}
.smartorder-menu .list_cell > li.text-right {position: absolute; bottom: 0; right: 0; text-align: right; color: #ff592e;}
.smartorder-menu .item.order {justify-content: space-between;}
.smartorder-menu .order-list > li + li {border-color: #f7f7f7; margin-top: 8vw; padding-top: 8vw;}


.pay_way,
.pay_carrier {position: relative; margin-top: 10.667vw;}
.pay_carrier .list_content {display: none;}
.pay_carrier .list-chk {padding-bottom: 0 !important;}
.pay_carrier .list-chk.text-grey {position: absolute; top: 0; left: 20vw; font-size: 2.933vw; color: #bfbfbf; padding-left: 4.267vw !important; margin-left: 1.067vw;}
.pay_carrier .list-chk.text-grey::before {content: ''; display: inline-block; position: absolute; top: 50%; left: 0; width: 3.733vw; height: 3.733vw; background-image: url('../images/com/icon_alert.svg');  background-size: cover; opacity: 0.7; transform: translateY(-50%); margin-top: 0.267vw;} 

.pay_inform > .title {display: none;}
.pay_inform .select{position:relative; width: 100%; height:13.333vw; font-size:3.467vw; letter-spacing: -0.4px; padding:0 4vw;vertical-align:middle; background: white url("../images/@uio/select-arr.svg") no-repeat calc(100% - 5.520vw) 50%;background-size: 2.320vw auto; border: 1px solid #dbdbdb; color: #989898; margin-top: 5.556vw;}

.pay_inform .list.pay .list_cell.text-red ,
.pay_inform .list.pay_sum .list_cell,
.pay_inform .list.pay_sum_b .list_cell {font-size: 0;}
.pay_inform .list.pay_sum .list_cell > li,
.pay_inform .list.pay_sum_b .list_cell > li {display: inline-block; width: 30%;}
.pay_inform .list.pay_sum .list_cell > li.text-center,
.pay_inform .list.pay_sum_b .list_cell > li.text-center {width: 30%;  text-align: right;}
.pay_inform .list.pay_sum .list_cell > li.text-right,
.pay_inform .list.pay_sum_b .list_cell > li.text-right {width: 70%; text-align: right;}
.pay_inform .list.pay .list_cell h4,
.pay_inform .list.pay_sum .list_cell h4,
.pay_inform .list.pay_sum_b .list_cell h4 {font-size: 3.733vw;}
.pay_inform .list.pay:not(.smartorder-menu) .list_cell .text-right h4,
.pay_inform .list.pay_sum .list_cell .text-right h4 {font-size: 4.267vw;}
.pay_inform .list.pay_sum .list_cell .text-right h4 {font-weight: 800; }
.pay_inform .list.pay_sum .list_cell > li.text-center,
.pay_inform .list.pay_sum_b .list_cell > li.text-center {display: none;}

.pay_inform .list.pay + .list.pay {margin-top: 5.867vw;}
.pay_inform .list.pay .list_cell.text-red > li {display: inline-block; width: 50%;}
.pay_inform .list.pay .list_cell.text-red > li.text-right{width: 50%; text-align: right;}
.pay_inform .list.pay .list_cell.text-red h4 strong > span {color: #afafaf; margin-left: 2.133vw;}

.pay_inform .list.pay_sum {margin-top: 10.667vw; padding-top: 5.333vw;}
.pay_inform .list.pay_sum > .pay-title + .list_cell {border-top: 1px solid #dbdbdb; padding-top: 5.867vw;}
.pay_inform .list.pay_sum + .list.pay {border-top: 1px solid rgba(112,112,112,0.1); padding-top: 6.667vw; margin-top: 5.867vw;}

.pay_inform .list.pay_sum_b {position: fixed; bottom: 18.667vw; left: 0;  width: 100%; background-color: #fff; border-top: 1px solid rgba(112,112,112,0.1); padding-top: 5.333vw; padding-left: 5.333vw; padding-right: 5.333vw; padding-bottom: 7.600vw; box-sizing: border-box; z-index: 1;}
.pay_inform .list.pay_sum_b .list_cell > li.text-center {font-weight: 700;}
.pay_inform .list.pay.pay_sum_b .list_cell > li.text-right h4 {font-weight: 800; font-size: 5.333vw; color: #ff592e;}

.pay_inform .list.pay .btn.verify {margin-top: -1.867vw;}
.pay_inform .item.order .list_cell .text-center h4 {display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center;-ms-flex-align: center; align-items: center; font-size: 0;}
.pay_inform .item.order .list_cell .text-center h4 > span {font-size: 3.467vw;}
.pay_inform .item.order .list_cell .text-center h4 > span + span {margin-left: 1.333vw;}

.fixed-btn {position: fixed; bottom: 0; left: 0; width: 100%;}
.fixed-btn .btn_full {display: -ms-flexbox; display: -webkit-flex; display: flex;}
.fixed-btn .btn_full .btn {display: -webkit-box; display: -ms-flexbox; display: flex; 
    -webkit-align-items: center; -ms-flex-align: center; align-items: center;
    -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 50%; height: 18.667vw; line-height: 18.667vw; font-weight: 700; font-size: 4.267vw;}
.fixed-btn .btn_full .btn.btn-cancel {background-color: #fff; color: #000; border-top: 0.267vw solid #ebebeb;}
.fixed-btn .btn_full .btn.btn-confirm {background-color: #000; color: #fff;;}

.pay_way_content1 {font-size: 0; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap;}
.pay_way_content1 li.pay-method {display: inline-block; width: 33.3% !important; height: 24.533vw; }
.pay_way_content1 li.pay-method label {width: 100% !important; font-size: 3.733vw; box-shadow: none;}
.pay_way_content1 li.pay-method label {width: 100% !important; font-size: 3.733vw; box-shadow: none;}
.pay_way_content1 li.pay-method .radio.active + label{color: #ff592e; border: 1px solid #ff592e;}
.pay_way_content1 li.pay-method .radio_text {display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; color: #000;}
.pay_way_content1.select-group.col-3 li.pay-method {margin-top: -0.267vw;}
.pay_way_content1.select-group.col-3 li.pay-method:nth-child(-n+3) {margin-top : 0;}
.pay_way_content1 li.pay-method label::before {content: ''; display: inline-block; position: absolute; top: 0; right: -0.267vw; width: 0.267vw; height: 100%; background-color: #ebebeb; transition: background-color 0.4 ease;}
.pay_way_content1 li.pay-method .radio.active + label::before {background-color: #ff592e;}

.pay_card .title-wrap {display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between;
	-webkit-align-items: center; -ms-flex-align: center; align-items: center;}
.pay_card .title-wrap .name {width: 56vw; font-size: 4vw; display:block;overflow:hidden;text-overflow:ellipsis;-webkit-box-orient:vertical;word-wrap:break-word;display:-webkit-box;-webkit-line-clamp:1; text-align: right;}
.pay_card .title-wrap .name > span {display: inline;}
.pay_card .title-wrap .name > span + span {}
.pay_card .title-wrap .name > span + span::before {content: ','; display: inline-block; position: relative; left: -0.533vw; font-size: inherit;}
.pay_card .title-wrap .title,
.cash_receipt .title-wrap .title {font-weight: 700;}
.cash_receipt .title-wrap .title > span {font-weight: 400; color: rgba(0,0,0,0.5);}
.pay_card .list.cards {background-color: #f9f9f9; padding-left: 5.333vw; padding-right: 5.333vw;}
.pay_card .list.cards .cards_img {font-size: 0;}
.cash_receipt .pay_way_content {display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center;}
.cash_receipt .pay_way_content .receipt {display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; -webkit-align-items: center; -ms-flex-align: center; align-items: center;}
.cash_receipt .pay_way_content .receipt + .receipt {margin-left: 4.267vw;}
.cash_receipt .pay_way_content .radio_text { margin-left: 1.6vw; padding-top: 0.267vw; box-sizing: border-box;}
.cash_receipt .pay_way_content .radio_text em {display: inline-block; font-size: 3.467vw; color: rgba(0,0,0,0.5);}
.cash_receipt #receipt_number {width: 100%; height: 10.133vw; line-height: 10.133vw; border-bottom: 0.267vw solid #dbdbdb; font-size: 3.467vw;}
.cash_receipt form + form {margin-top: 4vw;}

.bg_bk {
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 102;
}
.wrap_s {width: 100%; padding: 0 5.333vw; box-sizing: border-box; z-index: 103;}
.wrap_s .popup {width: 100%; }
.wrap_s .popup .popup-body .text {text-align: center; font-size: 4.2667vw; line-height: 1.38; letter-spacing: -0.085vw; padding: 0 5.333vw; word-break: keep-all;}
.wrap_s .popup .popup-body .text + .text {margin-top: 1.867vw;}
.wrap_s .popup .popup-body .text strong {font-weight: 700;}
.wrap_s .popup .popup-body .text + .alert { margin-top: 3.2vw;}
.wrap_s .popup .popup-body .alert {font-size: 3.733vw; color: #ff5858;}
.wrap_s .popup .btn-area.half .btn {width: 50%;}

.charge-card-use {position: absolute; top: 3.2vw; left: 3.2vw; width: auto; font-size: 0;}
.charge-card-use .btn {font-size: 0; line-height: 0; text-indent: -9999px;}